multilabel/logs/
multiclass/logs/
__pycache__/
.ipynb_checkpoints
multilabel/metrics.txt
multiclass/metrics.txt
multilabel/.neptune/async
multilabel/augs.ipynb
multilabel/rlg.csv
multilabel/rlg_results.csv
multilabel/augs_examples
multilabel/.neptune
.ipynb_checkpoints
multilabel/tools2.py
multilabel/weights
multilabel/metrics
multilabel/brightness_contrast
multiclass/.neptune
multilabel/augs.ipynb
multilabel/augs2.ipynb
multiclass/lightning_logs
multiclass/test_videos